/* Background img */
.loginbackground{
    background: url("../../images/LoginBG.jpg") no-repeat; 
   background-size: cover;
   min-width: 100%;
   background-position-x: -150px;
   min-height: 100vh;
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center
}

/* Page container */
.container{
    text-align: center
}

/* Logo Header */
.logo{
    width: 80%;
    margin: 10% auto;
    mix-blend-mode: overlay;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.logo:hover{
    mix-blend-mode: soft-light;
}

/* Login container */
.loginbox{
    margin: 60% auto auto auto;
}

/* Login header */
.logintext{
    font-family: 'Courgette', cursive;
    font-size: 50px;
    color: white;
    opacity: 0.85;
    text-decoration: underline;
    text-decoration-color: #de965c;
    text-decoration-style: dotted;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.logintext:hover{
    color: #8b4e3a;
}

/* Inputs */
.form-control{
    text-align: center;
    background: #de965c;
    border: transparent;
    color: white !important;
    font-size: 20px !important;
    opacity: 80%;
}

/* Buttons */
.btn{
    font-family: 'Courgette', cursive;
    margin: auto 5%;
    font-size: 25px;
}

/* Login button */
#Login{
    background: #efb174
}
#Login:hover{
    background: white;
    color: #efb174
}

#Signup:hover{
    background: white;
    color: #8b4e3a
}



/* - MEDIA QUERIES - */

/* =========== Over 350px ========== */
@media only screen and ( min-width: 350px ) {

    /* Login container */
    .loginbox{
        margin: 69% auto auto auto;
    }

}

@media (max-width: 376px) and ( min-width: 374px ) {

    /* Login container */
    .logo{
        width: 95%;
        margin: 20% auto auto auto;
    }

}
@media (max-height: 820px) and ( min-height: 700px ) {

    /* Login container */
    .loginbox{
        margin: 80% auto auto auto;
    }

}

/* =========== Over 800px ========== */
@media only screen and ( min-width: 800px ) {

    .loginbackground {
        background-position-x: center
    }

    /* Login container */
    .loginbox{
        margin: 20% auto auto auto;
    }
    .logo{
        width: 50%;
        margin: 4% auto
    }
    
    /* Inputs */
    .form-control{
        width: 50%;
        margin: auto
    }
}