/* Background img */
.profilebackground{
    background: url("../../images/ProfileBG.jpeg") no-repeat; 
    background-size: cover;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Page Header */
.Profilename{
    margin: 0px auto;
    padding: 15px;
    color: white;
    font-size: 25px;
    font-family: 'Courgette', cursive;
}
/* Footer Flex */
main {
    flex: 1 0 auto;
}
.Picandname{
    text-align: center
}
#userInfoContainer{
    background: gray;
    margin: 10px auto;
    border: black 2px outset;
    border-radius: 25px;
    height: fit-content
}
.Profilepic {
    width: 100px;
    height: 100px;
    margin: 10% auto 5% auto;
    border: black 1px outset;
    border-radius: 50px
}
#messageButton{
    background: gray;
    width: 90%;
    margin: auto;
    height: fit-content;
    padding: 10px;
    border: black 2px outset;
    border-radius: 25px
}
#vidContainer{
    width: 90%;
    background: gray;
    padding: 10px;
    margin: 10px auto;
    border: black 2px outset;
    border-radius: 25px
}
/* #video{
    width: 95%;
    margin: auto
} */
.youtubeVid{
    width: 90%;
    height: 250px;
    margin: 20px auto;
}

@media only screen and ( min-width: 700px ) {
    .youtubeVid{
        height: 400px
    }
}
/* =========== Over 800px ========== */
@media only screen and ( min-width: 800px ) {
    
    #messageButton{
        width: 50%;
    }
    #userInfoContainer{
        width: 80%
    }
    .Profilename {
        padding: 25px;
        font-size: 35px
    }
    .Profilebio{
        font-size: 20px
    }
    #messageButton{
        width: 30%
    }
    #myVideosText{
    color: white;
    font-family: 'Courgette', cursive;
    text-decoration: #47a79a underline dotted
    }
    .youtubeVid{
        height: 600px;
    }
}