.contactbackground{
    background: url("../../images/ContactBG.jpg") no-repeat; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: unset;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
}
main {
    flex: 1 0 auto;
  }
.contactlogo{
    font-family: 'Satisfy', cursive;
    font-size: 55px;
    color: #e1d5c7;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0f0f0b;
    text-decoration: underline;
    text-decoration-color: #a4b083;
    text-decoration-style: dotted;
    margin: 0% auto auto auto;
    padding: 20px;
}
.contactus{
    text-align: center;
    background: #0f0f0b;
    border-radius: 25px;
    padding: 5px;
    opacity: 0.9;
    margin: auto 10px
}
#contactushead{
    font-family: 'Courgette', cursive;
    color: #dddad8;
}
#message{
    background: none;
    border: groove 1px;
    height: 60px
}
.messageform{
    margin: auto
}
#Send{
    background: #dddad8;
    color: #0f0f0b;
}
.ourcontact{
    text-align: center;
    background: #0f0f0b;
    color: #dddad8;
    border-radius: 25px;
    margin: 3% 30%;
    padding: 5px;
    opacity: 0.9;
}
.myselect{
    height: 100px;
    font-size: 25px;
    text-align: center
}
.thanksMessage{
    display: none
}
@media only screen and ( min-width: 350px ) {
    .ourcontact{
        margin: 15% 30%;
    }
}
    /* ========== Over 800px =========== */
@media only screen and ( min-width: 800px ) {
    .contactbackground{
        background-position: inherit
    }
    .contactlogo{
        padding: 20px 185px
    }
    .contactus{
        width: 40%;
        margin: auto 30px
    }
    .ourcontact{
        margin: 5% 20% auto 20%;
    }

}
@media(max-width: 1025px) and (min-width: 1023px){
    .contactbackground{
        background-position: center
    }
    .ourcontact{
        margin: 40% 30%;
        font-size: 40px
    }
    .contactus{
        font-size: 50px
    }
    .contactlogo{
        font-size: 80px;
        margin: auto auto auto -10%;
    }
}