/* Background img */
.homebackground{
    background: url("../../images/HomeBG.jpg") no-repeat; 
    background-size: cover;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center
}

/* Footer flex */
main {
    flex: 1 0 auto;
}

/* Page header */
.homelogo{
    font-family: 'Satisfy', cursive;
    font-size: 55px;
    color: #aeadad;
    text-decoration: underline;
    text-decoration-color: #a4b083;
    text-decoration-style: dotted;
    margin: 0% auto auto auto;
    padding: 20px;
}

/* Search container div */
.searchbox{
    border-radius: 25px;
}

/* Instruction continer div */
.instructions{
    background: gray;
    opacity: 0.8;
    padding: 5px 10px;
    border-radius: 20px;
}

/* Search div header */
.searchtext{
    color: white;
    font-family: 'Courgette', cursive;
    font-size: 35px;
}

/* Inputs */
.searchinputs{
    margin: 30px auto auto auto;
}

/* Search button */
#Search{
    background: #6d6d6d;
    font-family: 'Patrick Hand', cursive;
    margin: 5% auto
}
#Search:hover{
    color: #26a69a;
    border: #26a69a 1px solid
}

/* Materialize Selects */
.select-dropdown{
    font-size: 20px !important;
    color: white;
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #2e3226;
}

/* Materialize select list */
.dropdown-content li{
    text-align: center !important;
    -webkit-text-stroke-width: 0px;
}


/* RESULTS SECTION */
#searchResultsContainer{
    background: gray;
    padding: 50px 10px;
    margin: 15px auto;
    border: solid 2px black;
    border-radius: 20px;
}
#resultsText{
    margin: 5px;
    color: white;
    font-family: 'Courgette', cursive;
    text-decoration: underline dashed white
}
#resultHeader{
    margin: 20px auto;
    ;
}
.resultUsername{
    margin: 5px;
    font-family: 'Acme', sans-serif;
    color: #26a69a;
    font-size: 30px;
    -webkit-text-stroke: 1px black;
}
.resultProfilePic{
    width: 100px;
    height: 100px;
    margin: 10px;
    border: black 1px outset;
    border-radius: 50px;
}
.resultBio{
    font-family: 'Acme', sans-serif;
    color: #d7d7d7
}
#responseButtons{
    padding: 5px 15px;
}
#messageUser{
    float: left;
    margin: auto;
    font-family: 'Patrick Hand', cursive;
    background: #6c6c6c;
    border: 1px solid black
}
#messageUser:hover{
    color: #26a69a
}
#nextResult{
    float: right;
    margin: auto;
    font-family: 'Patrick Hand', cursive;
    background: #6c6c6c;
    border: 1px solid black
}
#nextResult:hover{
    color: #26a69a
}
#viewCurrentResultProfile{
    font-family: 'Patrick Hand', cursive;
    background: #6c6c6c;
    border: 1px solid black;
}
#viewCurrentResultProfile:hover{
    color: #26a69a
}
#newSearch {
    margin: 5px auto 20px auto;
    background: #6c6c6c;
    font-family: 'Patrick Hand', cursive;
    border: 1px solid #26a69a;
}
#newSearch:hover{
    color: #26a69a;
    background: #d7d7d7
}
#noMoreResultNewSearch{
    margin: 5px auto 20px auto;
    background: #6c6c6c;
    font-family: 'Patrick Hand', cursive;
    border: 1px solid #26a69a;
}
#noMoreResultNewSearch:hover{
    color: #26a69a;
    background: #d7d7d7
}


/* - Media Queries - */
/* =========== Over 321px ========== */
@media only screen and ( min-width: 321px ) {
    .resultUsername{
        font-size: 35px
    }
}
/* =========== Over 374px ========== */
@media only screen and ( min-width: 374px ) {
    .instructions{
        margin: 10% auto auto auto;
    }
    .searchinputs{
        margin: 30% auto auto auto;
    }
}
/* =========== Over 377px ========== */
@media only screen and ( min-width: 545px ) {
    .instructions{
        margin: 20% auto auto auto;
    }
    .searchinputs{
        margin: 35% auto auto auto;
    }
    #responseButtons{
        width: 50%;
        margin: auto
    }
}
/* =========== Over 800px ========== */
@media screen and ( min-width: 800px ) {
    .instructions{
    width: 60%;
    margin: 60px auto;
    }
    .searchinputs{
        margin: 150px auto auto auto;
        margin: 120px auto auto auto;
    }
    .select-dropdown{
        font-size: 25px !important;
    }
}