#footerRow{
    text-align: center;
    margin: auto;
    font-family: 'Patrick Hand', cursive;
    font-size: 15px
}
.footerItems{
    text-align: center !important
}
#contactLink{
    text-decoration: underline;
    letter-spacing: 3px
}
#contactLink:hover{
    color: firebrick
}
#copyright{
    color: #aeadad
}
