#footerRow{
    text-align: center;
    margin: -44px auto auto auto;
    font-family: 'Patrick Hand', cursive;
}
.footerItems{
    text-align: center !important
}
@media screen and ( min-width: 800px ) {
    #footerRow{
        width: 55%
    }
}