/* Background img */
.profilebackground{
    background: url("../../images/ProfileBG.jpeg") no-repeat; 
    background-size: cover;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Page Header */
.Profilename{
    margin: 0px auto;
    padding: 15px;
    color: white;
    font-size: 25px;
    font-family: 'Courgette', cursive;
}
/* Footer Flex */
main {
    flex: 1 0 auto;
}
.Picandname{
    text-align: center
}
#userInfoContainer{
    background: gray;
    margin: 10px auto;
    border: black 2px outset;
    border-radius: 25px;
    height: fit-content
}
.Profilepic {
    width: 100px;
    height: 100px;
    margin: 20% auto 5% auto;
    border: black 1px outset;
    border-radius: 50px
}
#messageButton{
    background: gray;
    width: 90%;
    margin: auto;
    height: fit-content;
    padding: 10px;
    border: black 2px outset;
    border-radius: 25px
}
#vidContainer{
    width: 90%;
    background: gray;
    padding: 10px;
    margin: 10px auto;
    border: black 2px outset;
    border-radius: 25px
}
/* #video{
    width: 95%;
    margin: auto
} */
.youtubeVid{
    width: 90%;
    height: 250px;
    margin: 20px auto;
}


/* MODAL STUFF */
#modalTarget{
    background: #292422;
    font-family: 'Patrick Hand', cursive;
    border: 1px solid #6f6f6f;
}
#modalTarget:hover{
    background: white;
    color: #292422;
    border: 1px solid black;
}

.modal{
    background: gray;
    border: 1px black solid;
    border-radius: 25px;
    text-align: center !important;
    font-size: 20px;
    padding: 5px;
}
#editProfileText{
    color: white;
    font-family: 'Courgette', cursive;
}
.modalHeaders{
    color: #26a69a;
    font-family: 'Patrick Hand', cursive;
}
.modal-footer{
    background: gray !important;
}
.modal-close{
    color: black !important;
    font-family: 'Courgette', cursive !important;

}
.modalBtns{
    background: #292422;
    font-family: 'Patrick Hand', cursive;
    border: 1px solid #6f6f6f;
    font-size: 20px
}
.howToimg{
    width: 100%;
    border: solid 2px white;
    border-radius: 20px;
}

@media only screen and ( min-width: 700px ) {
    .youtubeVid{
        height: 400px
    }
    .Profilepic{
        margin: 10% auto 5% auto;
    }
}
/* =========== Over 800px ========== */
@media only screen and ( min-width: 800px ) {
    
    #messageButton{
        width: 50%;
    }
    #userInfoContainer{
        width: 60%
    }
    .Profilename {
        padding: 25px;
        font-size: 35px
    }
    .Profilepic{
        width: 150px;
        height: 150px;
        border-radius: 75px
    }
    .Profilebio{
        font-size: 20px
    }
    #messageButton{
        width: 30%
    }
    #myVideosText{
    color: white;
    font-family: 'Courgette', cursive;
    text-decoration: #47a79a underline dotted
    }
    .youtubeVid{
        height: 600px;
    }
}