/* Background img */
.signupbackground{
    background: url("../../images/SignupBG.png") no-repeat; 
    background-size: cover;
    min-width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
}
/* Page Header */
.signuptext {
    margin: 0% auto 5% -25%;
    padding: 25px;
    color: white;
    font-family: 'Courgette', cursive;
}
/* Signup container div */
.signupbox {
    background: #43b2f8;
    opacity: 0.95;
    padding: 15px;
    border-radius: 25px;
    margin: 15px 10px;
}
/* Info section Header */
#yourinfo{
    color: #a6fbfb;
    font-family: 'Courgette', cursive;
}
/* Important section header */
#important{
    color: red;
    font-family: 'Courgette', cursive;
    text-decoration: underline;
    text-decoration-style: dotted;
}
/* Inputs */
.form-control{
    text-align: center;
    border: transparent;
    color: white !important;
    font-size: 20px !important;
    opacity: 80%;
    width: 85% !important
}
#locationInput{
    font-family: 'Bowlby One SC', cursive;
    color: white !important;
    opacity: 1.0;
}
/* Sign up button */
#Signup {
    background: #616161;
}
#thanksSignup {
    background: #616161;
    opacity: 90%;
    margin: 25% auto;
    border: #26a69a 2px solid;
    border-radius: 25px;
    padding: 10px;
}
#returnToLogin{
    font-family: 'Patrick Hand', cursive;
}